
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

div.app {
  height: 100vh;
}

nav.navbar {
  position: relative;
  z-index: 1;
}
main.main {
  height: 100%;
  position: relative;
  top: -61px;
  padding-top: 61px;
}

div.wrapper {
  display: flex;
  height: 100%;
}

div.left-col {
  width: 38%;
  height: 100%;
  overflow-y: scroll;

  div.notes div.card {
    padding: 0;
  }
}

div.right-col {
  width: 62%;
  height: 100%;
  
  form {
    height: 100%;
    
    div.note-form-group {
      height: 81%;
    }

    .row {
      margin: 0;
    }
  }
}
